.modal-dubsdubs {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-dubsdubs {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 4px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content-dubsdubs input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #1da1f2;
  border-radius: 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  color: #444;
  transition: border-color 0.2s ease-in-out;
}

.modal-content-dubsdubs input:focus {
  border-bottom-color: #007bff;
}

.modal-item-dubsdubs {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-item-dubsdubs:hover {
  background-color: #f1f1f1;
  color: #007bff;
}

.modal-item-dubsdubs:last-child {
  border-bottom: none;
}

.modal-item-dubsdubs span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #1da1f2;
  margin-right: 8px;
}

.modal-item-dubsdubs[data-available='false'] span {
  background-color: #ccc;
}

.modal-item-dubsdubs[data-processing='true'] {
  background-color: #f9f9f9;
  color: #ccc;
  cursor: progress;
}

.modal-item-dubsdubs[data-processing='true'] span {
  background-color: #ffa500;
}
